body {
    background-color: hsl(200, 23%, 63%);
}

.head-text {
    text-align:center;
}

.p-text {
    text-align:center;
}

img {
   width: 20%;
  border-radius: 8px;
  display: block;
  margin: auto;
}

a:link{ 
    background-color: #3D59AB;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:visited {
    text-decoration: none;
    color: white;
}

#list1{
    text-align: center;
}

#list2 {
text-align: center;
}

.flex-container {
    display: flex;
    flex: 1;
    background-color: white;
    border-radius: 8px;
    border-color: #3D59AB;
    border-style: groove;
}